<div class="com-md-10 col-md-offset-1">
    <div class="new-play-form">
      <h1>Fix Broadway Play</h1>

      <%= simple_form_for @play, html: {multipart: true} do |f| %>
        <%= f.file_field :play_img %>
        <%= f.select :category_id, @categories %>
        <%= f.input :title, label: "Play Title" %>
        <%= f.input :description %>
        <%= f.input :director %>

        <%= f.button :submit %>
      <% end %>
    </div>
</div>