<h1 class="current-category"><%= params[:category] %></h1>

<% if @plays.count == 0 %>
    <h3>There are no plays in this category</h3>
<% else %>
    <div class="row">
        <% @plays.each do |play| %>
            <div class="col-md-3">
                <a href="/plays/<%= play.id %>">
                    <%= image_tag play.play_img.url(:play_index), class:"play" %>
                </a>
            </div>
        <% end %>
    </div>
<% end %>